<!DOCTYPE html>
<html class="text-gray-900 leading-tight antialiased" lang="en">
  <head>
    {% include "partials/site-head.html" %} {% block gmap %} {% endblock %}
  </head>
  <body
    class="min-h-screen bg-white"
    data-env="{{ node.env }}"
    x-data="{ open: false }"
    x-init="() => { setTimeout(() => { open = true }, 1500); }"
  >
    {% include "partials/site-header.html" %}

    <div class="">{% block content %}{% endblock %}</div>

    <footer class="max-w-1xl mx-auto bg-dark-blue text-white">
      <div
        class="mx-auto max-w-6xl space-y-10 px-4 py-4 pt-10 sm:px-6 md:flex md:space-x-16 md:space-y-0 md:pt-14 xl:px-0"
      >
        {% block store %} {% endblock %} {% include "partials/site-footer.html"
        %}
      </div>
      <div class="footer-bar mt-5 border-t-2 border-lightest-blue">
        <div
          class="mx-auto flex max-w-6xl content-between px-4 py-6 text-xs text-light-link sm:px-6 xl:px-0"
        >
          <p class="flex-1">{{ site.copyright}}</p>
          <span class="w-8 flex-none"
            ><img src="/images/logos/valvoline-logo-v.png" alt="Valvoline logo"
          /></span>
        </div>
      </div>
    </footer>
    <script type="module" src="/main.js"></script>
  </body>
</html>
