<h3 class="footer-nav-heading">{{ locations.title }}</h3>
<ul class="footer-nav">
  {% for item in locations.items %} {% assign slug = item.slug | slug %} {% if
  slug == location_slug %} {% assign highlight = 'cursor-default' %} {% assign
  current = 'aria-current="page"' %} {% else %} {% assign highlight =
  'underline' %} {% assign current = '' %} {% endif %}
  <li class="">
    <a
      href="{{ site_url | append: slug }}/"
      title="{{ item.footer_prefix }} {{ item.text }}"
      class="text-bright-blue hover:text-bright-blue-lighter {{ highlight }}"
      {{
      current
      }}
    >
      <span class="hidden font-normal">{{ item.footer_prefix }}</span> {{
      item.text }}
    </a>
  </li>
  {% endfor %}
</ul>
