<ul class="space-y-2 lg:flex lg:space-x-6 lg:space-y-0">
  {% for item in oilchange.items %} {% if item.url == page.url %} {% assign
  highlight = 'cursor-default' %} {% assign current = 'aria-current="page"' %}
  {% else %} {% assign highlight = 'underline' %} {% assign current = '' %} {%
  endif %}
  <li
    class="theme-orange hover:flex-2 relative flex-1 rounded px-3 py-4 text-center"
  >
    <div class="mt-4 px-6">
      <i class="text-5xl font-icomoon {{ item.icon }}"></i>
      <h2 class="mt-6 text-xl font-bold leading-tight">{{ item.text }}</h2>
    </div>
    <div class="flex-1 px-3 py-4">
      <p class="text-md font-sm leading-loose">{{ item.desc }}</p>
    </div>
  </li>
  {% endfor %}
</ul>
