<header>
  <nav class="sticky top-0 z-30 mx-auto px-4 shadow-md sm:px-6 lg:px-8">
    <div class="navbar-container">
      <a class="navbar-logo" href="{{ site_url }}">
        <figure class="flex-none flex-shrink-0 items-center space-x-1">
          <img
            alt="Valvoline Miami Hometown Lube logo"
            src="/images/logos/valvoline-miami-hometown-lube.png"
          />
          <!-- <figcaption>Starter-Kit</figcaption> -->
        </figure>
      </a>
      {{ heading }} {% if nav_location %} {{ nav_location }} {% else %}
      <ul class="navbar-location-links flex items-center space-x-4">
        {% for item in navigation.items %} {% if item.url == page.url %} {%
        assign highlight = 'cursor-default' %} {% assign current =
        'aria-current="page"' %} {% else %} {% assign highlight = 'underline' %}
        {% assign current = '' %} {% endif %}
        <li>
          <a
            href="{{ item.url }}"
            class="text-base font-bold {{ highlight }}"
            {{
            current
            }}
          >
            {{ item.text }}
          </a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </nav>
</header>
